<!DOCTYPE html>
<html>
<head>
<title>Login</title>

<style>
body{
    background:#111;
    color:white;
    text-align:center;
    margin-top:150px;
}
input{
    padding:10px;
    margin:10px;
}
button{
    padding:10px;
    background:green;
    color:white;
}
</style>

</head>

<body>

<h2>Login</h2>

<form method="POST">
<input name="username" placeholder="Username"><br>
<input name="password" type="password" placeholder="Password"><br>
<button>Login</button>
</form>

</body>
</html>